jsons/trop*.json
jsons/hs/

Python/
*.dll
*.exe
Qt/*
QtQuick/
QtWebEngine/
Qt3D/
QtWebView/
QtQuick.2/
audio/
bearer/
qmltooling/
scenegraph/
sceneparser/
renderplugins/
translations/
sqldrivers/
webview/
styles/
geometryloaders/
gamepads/
iconengines/
imageformats/
mediaservices/
playlistformats/
platforms/

